[submodule "pub"]
	path = pub
	url = git@github.com:noegroup/dl-qmc-pub.git
[submodule "data/motta-hydrogen"]
	path = data/motta-hydrogen
	url = https://github.com/simonsfoundation/hydrogen-benchmark-PRX.git
[submodule "extern/torch-kfac"]
	path = extern/torch-kfac
	url = git@github.com:noegroup/torch-kfac.git
[submodule "extern/dlqmc"]
	path = extern/dlqmc
	url = git@github.com:noegroup/dlqmc.git
